body
{
    background-image:url('bg.jpg');
    background-color:#999999;
    
}

main
{
    width:1200px;
    background-color:#fff;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    margin-bottom:20px;
    -moz-box-shadow: 0 0 20px #000;
    -webkit-box-shadow: 0 0 20px #000;
    box-shadow: 0 0 20px #000;
    max-width:100%;
}

#header
{
    max-height:350px;
    max-width:100%;
    margin-bottom:-6px;
}

header
{
    max-height:350px;
    /*background-repeat:no-repeat;*/ max-width:100%;
}

nav
{
    width:1070px;
    height:40px;
    /* /* background-color:green; */ */
    /*  ?  */
    margin-top:-16px;
    margin-left:-40px; max-width:100%;
}

.linje
{
    height:20px;
    background-color:#8DA7CC; 
    max-width:100%;
}

nav li a
{
    display:block;
    margin-right:5px;
    margin-top:-35px;
    padding: 10px 10px 10px;
    padding-top:25px;
    float:left;
    background-color:#8DA7CC;
    border-radius:18px; 
    max-width:100%;
}

nav li a:link
{
    font-family:verdana;
    font-size:12px;
    text-decoration:none;
    text-transform:uppercase;
    color:#fff;
}

nav li a:visited
{
    color:#fff;   
    
}

nav li a:hover
{
    padding-bottom:17px;
}

nav li a:active
{
    padding-bottom:17px;
}

nav li .active
{
    padding-bottom:17px;
}

li
{
    list-style-type:none;
}

#middle
{
    
    margin:25px;
    min-height:700px;
    background-color:#fff;
    max-width:100%;
}

footer
{
    background-color:#8DA7CC;
    padding:1px; max-width:100%;
}


#form {
    
    border-color: #8DA7CC;
    border-width: 7px;
    border-style: ridge;
    margin: 10px;
    padding: 10px;
    margin-right:800px;
    
}

#forms {
    
    border-color: #8DA7CC;
    border-width: 7px;
    border-style: ridge;
    margin: 10px;
    padding: 10px;
    margin-right:900px;
    
}

