.polaroid-images a
{
    font-family: "handwriting";
	display: inline;
	background: white;
	float: left;
	padding: 10px 10px 25px;
	margin: 0 15px 30px;
	text-decoration: none;
	text-align: center;
	-o-box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,.3);
	box-shadow: 0 3px 10px rgba(0,0,0,.3);
	-o-transition: 0 3px 10px rgba(0, 0, 0, .3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
    position:relative;
}

.polaroid-images a:hover,.polaroid-images a:focus
{
    -o-transform: scale(1.13); 
	-webkit-transform: scale(1.13); 
	-moz-transform: scale(1.13);
    transform: scale(1.13);
	z-index:10;
	-o-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
    box-shadow: 0 10px 20px rgba(0,0,0,.7);
}