@charset "utf-8";
* {background-repeat:no-repeat;}
body{
    background-image:url('bilder/Bg.jpg');
    background-attachment:fixed;
}
body li
{
     list-style-type:none;
}
mainsection{
}

header{
    background-image:url('bilder/headernamn.png');
    height:200px;
}

nav{
    width:480px;
    max-width:100%;
    
}

nav li
{
    display:block;
    margin-bottom:5px;
    margin-right:5px;
}
nav li a{
    display:block;
    text-decoration: none;
}
nav li a:hover{
    display:block;

}

#middle article{
    background-color:#3BEBFF;
    padding:10px;
}

#aside-left{
    margin-bottom:5px;
    margin-top:5px;
    padding:5px;
    max-width:100%;
    background-color:#FFA33B;
    font-size: 20px;
}
#aside-left li{
    margin-top:5px;
}
footer{
    height:auto;
    background-color:purple;
    padding:10px;
}