@charset "utf-8";
body li
{
     list-style-type:none;
}
mainsection{
    height:200px; 
}

header{
    height:200px;
    background:green;
}

nav{
    float:left;
    width:480px;
    max-width:100%;
    background-color:yellow;
}

nav li
{
    background-color:#7585FF;
    padding:7px;
    float:left;
    margin-bottom:5px;
    margin-right:5px;
}

middle article{
    background-color:#3BEBFF;
    padding:10px;
}

aside-left article{
    height:auto;
    margin-bottom:5px;
    margin-top:5px;
    font-size:12px;
    padding:5px;
    width:160px;
    max-width:100%;
    background-color:#FFA33B;
}

footer{
    height:auto;
    background-color:purple;
    padding:10px;
}