@charset "utf-8";
@import url('480.css');
nav{
    width:769px;
    height:100px;
}

nav li a{
    display:inline;
    float:left;
    margin-right:20px;
}

nav li a:hover{
    display:inline;
}

#aside-left{
    width:200px;
    float:left;
    margin:10px;
}

#middle article{
    margin-top:15px;
    margin-left:230px;
}