/* Inlagd extern font */

@font-face
{
 font-family: "handwriting";
 src: url('handwriting.ttf') format("truetype");
}


/* position av bilder och skuggning. Även anpassning för olika webbläsare. */

.polaroid-images a
{
    
    
    font-family: "handwriting";
	display: inline;
	background: white;
	float: left;
	padding: 10px 10px 25px;
	margin: 0 15px 30px;
	text-decoration: none;
	text-align: center;
	-o-box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,.3);
	box-shadow: 0 3px 10px rgba(0,0,0,.3);
	-o-transition: 0 3px 10px rgba(0, 0, 0, .3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
    position:relative;
}

/* Tilläggning av undertext. Den nedre gör så att texten alltid kommer rätt i förhållande till bilden. */


.polaroid-images a:after {
	color: #000000;
	font-size: 20px;
	content: attr(title);
	position: relative;
	top:15px;
}

.polaroid-images img { 
	display: block; 
	width: inherit; 
}



/* Denna är till för att göra så det blir en animation med bilden när man håller musen över den. */

.polaroid-images a:hover,.polaroid-images a:focus{
    -o-transform: rotate(0deg);
	-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -o-transform: scale(1.3); 
	-webkit-transform: scale(1.3); 
	-moz-transform: scale(1.3);
    transform: scale(1.3);
	z-index:10;
	-o-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
    box-shadow: 0 10px 20px rgba(0,0,0,.7);
}