@charset "utf-8";
@import url('480.css');
/*nav li a{*/
/*    display:inline;*/
/*     padding-right:1px;*/
/*     -webkit-transition-duration: 0.2s;*/
/*    -moz-transition-duration: 0.2s;*/
/*}*/

body 
{
}
main
{
}

nav{
    display:inline;
    width:300px;
    background-color:yellow;
}

nav li{
    display:inline;
    margin-bottom:5px;
    margin-left:50px;
}

nav li a{
    display:inline;
    text-decoration: none;
}
nav li a:hover{
    display:inline;
}
#middle{
}

/* position av bilder och skuggning. Även anpassning för olika webbläsare. */

.polaroid-images a
{
    float: left;
    margin: 0 15px 30px;
	display: inline;
	-o-box-shadow: 0 3px 10px rgba(0, 0, 0, 0);
	-webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0);
	box-shadow: 0 3px 10px rgba(0,0,0,0);
	-o-transition: 0 3px 10px rgba(0, 0, 0, 0);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
    position:relative;
}




/* Denna är till för att göra så det blir en animation med bilden när man håller musen över den. */

.polaroid-images a:hover,.polaroid-images a:focus{

    -o-transform: scale(1.1); 
	-webkit-transform: scale(1.1); 
	-moz-transform: scale(1.1);
    transform: scale(1.1);
	z-index:10;
	-o-box-shadow: 0 10px 20px rgba(0, 0, 0, .0);
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .0);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.0);
    box-shadow: 0 10px 20px rgba(0,0,0,.0);
}
img{
    max-width:100%;    
}
footer{
    width:400px;
}
/*Time for the CSS*/
* {margin: 0; padding: 0;}
body {background: #ccc;}

.slider{
	width: 640px; /*Same as width of the large image*/
	position: relative;
	/*Instead of height we will use padding*/
	padding-top: 320px; /*That helps bring the labels down*/
	
	margin: 100px auto;
	
	/*Lets add a shadow*/
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}



.slider>img{
	position: absolute;
	left: 0; top: 0;
	transition: all 0.5s;
}

.slider input[name='slide_switch'] {
	display: none;
}

.slider label {

	margin: 18px 0 0 18px;
	border: 3px solid #999;
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	opacity: 0.6;
}

.slider label img{
	display: block;
}


.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}

.slider input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}

.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}













