@charset "utf-8";
/* CSS Document */

body{	
	background-color:transparent;
	background-color:#000;
	background-repeat:no-repeat;
	background-position: center top;
	background-size: 100% auto;
	width:99%;
	height:1000px; 
	text-align:center;

}
#BG {
	width: 199%;
	position: fixed;
	z-index: -100;
	left: 0px;
	top: 0px;
}
#mainmainselection{}
#mainsection{
	margin-left:auto; 
	margin-right:auto; 
	width:1000px;
	height:100%;
    background-image: url(containerkant.png);
}


#header{
	background-image: url(header.png);
	height:200px;
	width:100%;	
}
#menu{
	width:100%;
	height:70px;
	margin-top:1%;
	
}
#news{
	width:25%;
	height:400px;
	float:right;
	background-image: url(news.png);
	margin-top:1%;
	
}
#container{
	width:74%;
	height:64%;
	float:left;
	background-image:url(container.png);
	background-repeat:no-repeat;
	background-position:top;
	padding-top:10px;
	background-size:100%;
	margin-left:10px;
}


#footer{
		width:1000px;
		height:6%;
		background-image:url(footer.png);
		float:left;
		margin-top:10%;
		align:right;
}


div.container{
	background-color:red;
}

img {border: none; }

a img {border: 0px; float: left;}
#BG {
	width: 100%;
	z-index: -100;
	left: 0px;
	top: 0px;
	min-width: 1040px;
	min-height: 100%;
}
